/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    width: 100vw;
    height: 100vh;

    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    border: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    border-radius: 1%px;
}

button{
    width: 100px;
    height: 25px;

    border: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    border-radius: 1%px;
}

/* Sign In page styles */

.signWindow{
    width: 420px;
    height: 210px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: solid;
    border-width: 2px;
    border-color: rgb(42, 42, 42);
    border-radius: px;
}

.logo{
    width: 250px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

#loginInputLp{
    width: 250px;
    height: 25px;
}

#passwordInputLp{
    width: 250px;
    height: 25px;
}

#signUpBtn{
    width: 125px;
    height: 25px;

    background-color: rgb(231, 231, 231);
    
    color: rgb(42, 42, 42);

    cursor: pointer;
}

#logInBtn{
    width: 125px;
    height: 25px;

    background-color: rgb(42, 42, 42);
    
    color: white;

    cursor: pointer;
}

/* Sign Up page styles */

.registerWindow{
    width: 420px;
    height: 210px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: solid;
    border-width: 2px;
    border-color: rgb(42, 42, 42);
    border-radius: 1px;
}


/* User page styles */

.pageHead{
    width: 100vw;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid;
    border-width: 0.2px;
    border-color: rgb(42, 42, 42);
}

#exitBtn{
    margin-right: 20px;
    color:  rgb(42, 42, 42);
}

.pageBody{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userMsgs{
    width: 20%;
    height: 100%;

    overflow: hidden;

    border-right: solid;
    border-width: 0.2px;
    border-color: rgb(42, 42, 42);

    background-color: rgb(216, 216, 216);
}

.userMsgsInter{
    width: 80%;
    height: 100%;
}

/* ------------------------------------ */

.displayMessages{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayer{
    width: 90%;
    height: 850px;

    overflow-y: scroll;
}

.contentScroll{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.messageFromUser{
    width: 1000px;
    height: 30px;
}

#user1{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#user2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messageInput{
    width: 99%;
    height: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inputMsg{
    width: 80%;
    height: 55%
}

.sendBtn{
    width: 10%;
    height: 100px;
}

/* ------------------------------------ */

/* Admin page styles */

.adminBtns{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    align-items: center;

    border-right: solid;
    border-width: 0.2px;
    border-color: rgb(42, 42, 42);

    background-color: rgb(216, 216, 216);
}

#usersList{
    width: 100%;
    height: 40px;

    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px;

}

#usersMsgs{
    width: 100%;
    height: 40px;

    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px;

}

#usersActns{
    width: 100%;
    height: 40px;

    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px;

}

.active{
    background-color: rgb(42, 42, 42);
    color: white;
    
}

.nonActive{
    background-color: rgb(216, 216, 216);
}

.adminTerminal{
    width: 80%;
    height: 100%;
}