/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    width: 100%;
    height: 100%;

    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    border: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    border-radius: 1px;
}

button{
    width: 100px;
    height: 25px;

    border: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 1%px;
}

.logo{
    width: 250px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* Admin page styles */
.pageHead{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid;
    border-width: 0.2px;
    border-color: rgb(42, 42, 42);
}

#exitBtn{
    margin-right: 20px;
    color:  rgb(42, 42, 42);
}

.pageBody{
    width: 100%;
    height: calc(100vh - 40px);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.adminBtns{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
    align-items: center;

    border-right: solid;
    border-width: 0.2px;
    border-color: rgb(42, 42, 42);

    background-color: #F0F0F0F0;
}

#usersList{
    width: 100%;
    height: 40px;

    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px;

}

#usersMsgs{
    width: 100%;
    height: 40px;

    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px;



}

#usersActns{
    width: 100%;
    height: 40px;

    padding-top: 0px;
    padding-bottom: 0px;

    border: 0px;

}


.adminTerminal{
    width: 80%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.adminFuncBtns:hover{
    background-color: rgb(42, 42, 42);
    color: white;
}


.table-scroll-wrapper {
  max-height: 700px;  
  overflow: auto;
  border: 1px solid #ccc;
  margin: 5px 5px 5px 5px;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table td, .admin-table th {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 900px;
}