/* Global styles */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    width: 100%;
    height: 100%;

    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    border: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    border-radius: 1%px;
}

button{
    width: 100px;
    height: 25px;

    border: solid;
    border-width: 1px;
    border-color: rgb(160, 160, 160);
    border-radius: 1%px;
}

.logo{
    width: 250px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* User page styles */
.pageHead{
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: solid;
    border-width: 0.2px;
    border-color: rgb(42, 42, 42);
}

#exitBtn{
    margin-right: 20px;
    color:  rgb(42, 42, 42);
}

.pageBody{
    width: 100%;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userMsgs{
    width: 20%;
    height: 100%;

    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-right: solid;
    border-width: 0.2px;
    border-color: rgb(42, 42, 42);

    background-color: rgb(216, 216, 216);
}

.userMsgsInter{
    width: 80%;
    height: 100%;
}

.searchUser{
    width: 245px;
    height: 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;
}

#serachUserInput{
    width: 200px;
    height: 24px;

    border: none;
}

.recievedMessages{
    width: 245px;
    height: 30px;
}

/* ------------------------------------ */

.displayMessages{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.displayer{
    width: 90%;
    max-height: 730px;

    overflow-y: auto;
}

.messageInput{
    width: 99%;
    height: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
}

.inputMsg{
    width: 80%;
    height: 55%
}

.sendBtn{
    width: 10%;
    height: 100px;
}

/* ------------------------------------ */